.order
  background-color: $gray
  &-title
    text-align: center
  &-time
    text-align: center
    font-size: 40px
    margin-bottom: 30px
  &-card
    &-price
      text-align: center
      font-size: 28px
      display: flex
      align-items: center
      justify-content: center
      margin-top: 30px
      &-old
        margin-right: 30px
        font-size: 20px
        color: $red
      &-now
        animation: bounce 1s linear infinite
    &-img
      margin: auto
      max-width: 300px
      display: flex
      justify-content: center
      align-items: center
      overflow: hidden
      img
        object-fit: cover
        width: 100%
  &-block
    position: relative
    width: 100%
  &-form
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    width: 70%
    margin: auto
    input
      color: $black
      width: 100%
      border-radius: 5px
      border: 2px solid $blue
      padding: 15px 25px
      margin-bottom: 25px
      // position: relative
    label
      // width: 49%
      text-align: right
      display: none
      position: absolute
      top: -25px
      right: 0
    button
      // margin-top: 20px
      width: 100%
      border: none
      background-color: $blue
      border-radius: 5px
      color: $white
      height: 52px
      cursor: pointer
input:focus + label 
  display: inline-block
